<div class="nav_bar">  
    <div class="nav_container">
        <h1>Webbplats</h1>
    </div>
    
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</div>     